.button_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

/* .add_button{
    margin: 5px;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    font-weight: bold;
} */

.add_button {background-image: linear-gradient(to right, #1fa8ba 0%, #514A9D  51%, #24C6DC  100%)}
.add_button {
   margin: 5px;
   width: 100%;
   max-width: 500px;
   padding: 10px;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px rgb(23, 17, 17);
   border-radius: 10px;
   display: block;
 }

 .add_button:hover {
   background-position: left center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
