.input_container{
    display: flex;
    margin: 25px auto;
    justify-content: center;
}
.input_tarea{
    height: 40px;
    width: 70%;
    max-width: 500px;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
}
.input_tarea:focus{
    outline-color: #201e1c;
}