/* ._real_list_container{
  
  width: 100%;
} */
.list_container {
  display: flex;
  margin: 25px;
  padding: 20px;
  height: 60vh;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
ul{
    list-style: none;
    width: 100%;
}
